@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Permanent Marker";
  src: url("../public/fonts/marker.ttf");
}

body {
  font-family: "Roboto", sans-serif;
}
